<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Dues System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<style>
    body{
        background: url("../images/3.jpg");
        background-size: 1500px;
    }
    h1{
        color: black;
    }
</style>
<body style="background-image: url('{{ url_for('static', filename='images/3.jpg')}}');">

    <div class="container">
        <h1>NACOS Dues Payment System</h1>
        <p class="subtitle">Simple. Secure. Transparent.</p>

        <div class="card-container">

            <a href="/register" class="card">
                <h2>🎓 Register Student</h2>
                <p>Create a new student account</p>
            </a>

            <a href="/student_login" class="card">
                <h2>🔐 Student Login</h2>
                <p>Access your dashboard</p>
            </a>

            <a href="/admin_login" class="card">
                <h2>🛠 Admin Login</h2>
                <p>Manage students & payments</p>
            </a>

        </div>
    </div>

</body>
</html>